<button type="button" class="border-0 bg-transparent text-white d-flex align-items-center gap-3" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="bi bi-box-arrow-in-right fs-2"></i><span class="d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">Login/Register</span></button>

<div class="modal fade mt-5" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body primary-bg-color rounded">
                <form action="/login" id="loginForm" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0" id="loginUsername" name="username" placeholder="username" required>
                        <label for="loginUsername" class="text-white">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control border-0" id="loginPassword" name="password" placeholder="password" required>
                        <label for="loginPassword" class="text-white">Password</label>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn btn-sm btn-dark">Login</button>
                        <button type="button" class="btn btn-sm btn-dark">Sign Up</button>
                    </div>
                </form>

                <form action="/register" id="registerForm" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0" id="registerFirstname" name="firstname" placeholder="firstname" required>
                        <label for="registerFirstname" class="text-white">Firstname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0" id="registerLastname" name="lastname" placeholder="lastname" required>
                        <label for="registerLastname" class="text-white">Lastname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0" id="registerIdNumber" name="idNumber" placeholder="idNumber" required>
                        <label for="registerIdNumber" class="text-white">ID No.</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0" id="registerUsername" name="username" placeholder="username" required>
                        <label for="loginUsername" class="text-white">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control border-0" class="form-control" id="registerPassword" name="password" placeholder="password" required>
                        <label for="loginPassword" class="text-white">Password</label>
                    </div>
                    <div class="d-flex justify-content-around">                          
                        <button type="submit" class="btn btn-sm btn-dark" id="registerSubmitBtn">Sign Up</button>
                        <button type="button" class="btn btn-sm btn-dark">Login Instead</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>