<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" title="home">
            <img src="../images/ccs-logo.png" alt="" class="logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"><i class="bi bi-list text-white fs-1"></i></button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center">
            <li class="nav-item">
                {{#if user}}
                    <a href="/dashboard" class="nav-link text-white">Dashboard</a>
                {{else}}
                    <a href="/" class="nav-link text-white">Home</a>
                {{/if}}
            </li>
            {{!-- <li class="nav-item">
                <a href="/articles" class="nav-link text-white">Articles</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-white" title="Underconstruction">CES</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-white" title="Underconstruction">ICSO</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-white text-nowrap" title="Underconstruction">CCS Tech Guild</a>
            </li> --}}
            {{#if admin}}
                <li class="nav-item">
                    <a href="/users" class="nav-link text-white">Manage Users</a>
                </li>
            {{/if}}
            <li class="nav-item">
                {{#if user}}
                    <div class="dropdown">
                        <button class="border-0 bg-transparent text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear fs-2"></i>
                        </button>
                        <ul class="dropdown-menu secondary-bg-color">
                            <li>
                                <a href="/profile" class="link-light text-decoration-none px-2">Profile</a>
                            </li>
                            <li>
                                {{!-- <a href="/logout" class="border-0 bg-transparent text-danger">Logout</a> --}}
                                {{!-- <form action="/logout" method="post">
                                    <button type="submit" class="border-0 bg-transparent text-danger">Logout</button>
                                </form> --}}
                                <form action="/logout" method="post">
                                    <button type="submit" class="border-0 bg-transparent text-danger">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                {{else}}
                    {{> login-register-modal}}
                {{/if}}
            </li>
        </div>
    </div>
</nav>