<div class="row align-items-center gap-5">
  <div class="col-sm-6">
    <img src="./images/ccs-logo.png" class="img-fluid">
  </div>
  <div class="col">
    <p class="quote fs-1">Unlock your true potential as a problem solver, not just a programmer. By thinking beyond code, you'll have the power to create real-world solutions that make a meaningful impact on people's lives.</p>
    <p class="quote text-end fs-1">-Anonymous</p>
  </div>
</div>