<div class="row gap-5">
    <div class="col-sm">
        <input type="text" class="form-control form-control-sm mb-5" placeholder="Search student...">
        <p class="text-end">{{users.length}}</p>
        <ul class="list-group gap-2">
            {{#each users}}
                <li class="list-group-item text-capitalize secondary-bg-color text-white d-flex justify-content-between align-items-center">
                    {{this.firstname}} {{this.lastname}}
                    <div class="d-flex align-items-center gap-2">
                        <button type="button" class="btn p-0 editUserBtn" data-url="{{this.url}}"><i class="bi bi-pencil-fill text-warning"></i></button>
                        <form action="" class="deleteUserForm" method="post">
                            <button type="submit" class="btn p-0"><i class="bi bi-trash3-fill text-danger"></i></button>
                        </form>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-sm">
        <form action="" method="post" class="d-grid gap-2">
            <div>
                <label for="idNumber" class="form-label">ID No.</label>
                <input type="text" class="form-control form-control-sm" id="idNumber" name="idNumber">
            </div>
            <div>
                <label for="firstname" class="form-label">Firstname</label>
                <input type="text" class="form-control form-control-sm" id="firstname" name="firstname">
            </div>
            <div>
                <label for="lastname" class="form-label">Lastname</label>
                <input type="text" class="form-control form-control-sm" id="lastname" name="lastname">
            </div>
            <div>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control form-control-sm" id="username" name="username">
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </form>
    </div>
</div>